build/*
__build*
*.DS_Store
example-data/results/*
example-data/results*
dependencies/libigl/*
dependencies/cppOpt/*
dependencies/Ipopt/*
external/Chipmunk2D/*
Ipopt-install/*
.vscode/*
example-data/inputs/ignore/*